
*{
    padding: 0;
    margin: 0;
    box-sizing: boder-box;
}
.website{
    margin-bottom: 0px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,2.0));
    align-items:center;
    overflow: hidden;
    text-align: center;
}
.webservice{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    overflow: hidden;
}
#green{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.web{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.serviceHead{
  display: flex;
  justify-content: center;
    text-align: center;
    align-items: center;
    border-radius:45%;
    background: transparent ;
    overflow: hidden;
    max-width: 30%;
    max-height: 40%;
    padding:3em;
    font-family: "Times New Roman", Times, serif
}
.serviceh3{
    height: 42px;
    width:230px;
    padding:5px;
    background: linear-gradient(rgbargb(229, 223, 27, 1), rgbargb(229, 223, 27, 1));
    position: relative;
    color: #66BFBF;
}
.serviceh3:before {
  content: "";
  position: absolute;
  right:-30px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-top: 25px solid transparent;
  border-bottom: 27px solid transparent;
}
.pack{
  margin: 4px;
  color:white;
  width:230px;
  padding:2px;
  background-color: transparent;
  position: relative;
}
@media only screen and (max-width: 55em){
  .website{
      width: 100%;
      padding: 30px;
      background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,2.0));
      align-items:left;
      overflow: hidden;
      text-align: center;
  }
  button{
      font-size: 10px;
      width: 1em;
  }
  #green{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}
  .serviceh3{
      height: 42px;
      width:250px;
      padding:10px;
      position: relative;
      color: #66BFBF;
  }
  .pack{
      margin: 4px;
      color:white;
      height: 15px;
      width:250px;
      padding:2px;
      position: relative;
  }
  .webservice{
      display: flex;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      width: 100%;
      height: 20em;
      margin-bottom:  1em;
      overflow: hidden;
  }
  .serviceh1{
      font-size: 1em;
  }
  .serviceHead{
      display: flex;
      justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        
    }
  .web{
      display: flex;
      width:100%;
      justify-content: center;
      flex-direction:column;
      margin: 20px;
  }
  .servicetype{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
  }
}